.running-text{
    background-color: yellow;
    color: black;
}
.title{
    background-color: black;
    color: white;
    height: 1cm;
    transition: 2s ease;
 }
.title{
    display: flex;
    justify-content: center;
}

.text{
    width:10%;
    animation: typing 2s steps(13), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
.title:hover{
    height: 2cm;
    text-align:center;
    margin-top: 30px;
}
p{
    color:black;
    font-size: 30px;
    text-align: center;
    font-family:cursive;
}
h1{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    margin-top: 10%;
}
img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.profile{
    align-items: center;
    text-align: center;
}