body{
    background-image: url(./wp2757874-wallpaper-gif.gif);
    background-attachment: fixed;
}
.running-text {
    background-color: yellow;
    color: black;
}

.title {
    background-color: white;
    color: black;
    height: 1cm;
    transition: 2s ease;
}

.title {
    display: flex;
    justify-content: center;
}

.text {
    width: 10%;
    animation: typing 2s steps(13), blink .5s infinite ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
.title:hover {
    height: 2cm;
    text-align: center;
    margin-top: 30px;
}
.content h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
.content p {
    color: white;
}
h3 {
    color: white;
}

p{
    color:black;
    font-size: 30px;
    text-align: center;
    font-family:cursive;
}
h1{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    margin-top: 10%;
}
img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.profile img{
    margin-left: 43%;
}
#navbar {
    background-color:rgb(255, 204, 153);
    position: fixed;
    top: -50px;
    width: 100%;
    display: block flex;
    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    color:black;
}
.icon img{
    height: 0.5cm;
    width: 0.5cm;
    margin-right: 0%;
    color: white;
    position: relative;
    float: right;
}

.more-details img{
    height: 0.5cm;
    width: 0.9cm;
}
.more-details{
    text-align: center;
    margin-top: 9%;
}
h2{
    text-align: center;
    font-size:50px;
}
.text-second-page{
    margin-top: 5cm;
    background-color: ivory;
    transition: 3s ease;
}
.text-second-page:hover{
    background-color: lightblue;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    box-shadow: 5px grey;

}

h5{
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}
.card-1{
    border:0px;
    border-radius: 30px;
    background-color: darkgrey;
    width: 60%;
    float: left;
    margin-bottom: 1CM;
    transition: 1s ease;
}
.card-2 {
    border:0px;
    border-radius: 30px;
    background-color:lightcyan;
    width: 60%;
    float: right;
    margin-bottom: 1CM;
    transition: 1s ease;
}
.card-3 {
    border:0px;
    border-radius: 30px;
    background-color:lightgrey;
    width: 60%;
    float: left;
    margin-bottom: 1CM;
    transition: 1s ease;
}
.card-1:hover{
    transition: 1s ease;
    margin-left: 5cm;
    border: 3px;
    padding: 10px;
    /* box-shadow: 10px 10px 10px 10px darkgrey; */
}
.card-2:hover {
    transition: 1s ease;
    margin-right: 5cm;
    border: 3px;
    padding: 10px;
    /* box-shadow: 10px 10px 10px 10px lightcyan; */
}
.card-3:hover {
    transition: 1s ease;
    margin-left: 5cm;
    border: 3px;
    padding: 10px;
    /* box-shadow: 10px 10px 10px 10px lightgrey; */

}
.btn {
    text-decoration: none;
    color: white;
    background-color: skyblue;
    text-align: center;
    margin-left: 43%;
    border: 1px solid black;
    font-size: 30px;
    padding: 10px;
    border-radius: 50px;

}
#startup-projects{
    background-color:lightblue;
    margin-top: 1200px;
    height:500px;

}
.startup-box-1{
    position:absolute;
    left: 400px;
    top:-100px;
    background-color: white;
    margin-top: 205em;
    border-radius: 20px;
}
.startup-box-2 {
    position: absolute;
    left: 1000px;
    top: -100px;
    background-color: white;
    margin-top: 205em;
    border-radius: 20px;
}
.startup-box-3 {
    position: absolute;
    left: 1000px;
    /* top: 300px; */
    background-color: white;
    margin-top: 10em;
    border-radius: 20px;
}
.startup-box-4 {
    position: absolute;
    left: 400px;
    /* top: 300px; */
    background-color: white;
    margin-top: 10em;
    border-radius: 20px;
}




