body{
    background-image: url(./wp2757874-wallpaper-gif.gif);
    background-attachment: fixed;
}
.content h1{
    color: white;
}
.content p {
    color: white;
}
h3 {
    color: white;
}



.running-text{
    background-color: yellow;
    color: black;
}
.title{
    background-color:white;
    color:black;
    height: 1cm;
    transition: 2s ease;
 }
.title{
    display: flex;
    justify-content: center;
}

.text{
    width:10%;
    animation: typing 2s steps(13), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
.title:hover{
    height: 2cm;
    text-align:center;
    margin-top: 30px;
}
p{
    color:black;
    font-size: 30px;
    text-align: center;
    font-family:cursive;
}
h1{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    margin-top: 10%;
}
img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.profile img{
    margin-left: 43%;
}
#navbar {
    background-color:rgb(255, 204, 153);
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    color:black;
}
.icon img{
    height: 0.5cm;
    width: 0.5cm;
    margin-right: 0%;
    color: white;
    position: relative;
    float: right;
}
.icon img:hover{
    color: black;
}
.more-details img{
    height: 0.5cm;
    width: 0.9cm;
}
.more-details{
    text-align: center;
    margin-top: 10%;
}
h2{
    text-align: center;
    font-size:50px;
}
.text-second-page{
    margin-top: 5cm;
    background-color: ivory;
    transition: 3s ease;
}
.text-second-page:hover{
    background-color: lightblue;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    box-shadow: 5px grey;

}
/* *{
    background-image:url("https: //wallpapercave.com/wp/wp4112239.jpg");
    width: 100%;
    height:auto;
} */
table{
    border: 1px solid;
    width: 50%;
    height: fit-content;
    text-align: center;
    overflow: auto;
    border-radius: 10%;
    align-items: center;
}
h5{
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}
.card-1{
    border:0px;
    border-radius: 30px;
    background-color: darkgrey;
    width: 60%;
    float: left;
    margin-bottom: 1CM;
    transition: 1s ease;
}
.card-2 {
    border:0px;
    border-radius: 30px;
    background-color:lightcyan;
    width: 60%;
    float: right;
    margin-bottom: 1CM;
    transition: 1s ease;
}
.card-3 {
    border:0px;
    border-radius: 30px;
    background-color:lightgrey;
    width: 60%;
    float: left;
    margin-bottom: 1CM;
    transition: 1s ease;
}

.btn {
    text-decoration: none;
    color:white;
    background-color:skyblue;
    text-align: center;
    margin-left: 43%;
    border: 1px solid black;
    font-size: 30px;
    padding: 10px;
    border-radius: 50px;

}
.card-1:hover{
    transition: 1s ease;
    margin-left: 5cm;
    border: 3px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px darkgrey;
}
.card-2:hover {
    transition: 1s ease;
    margin-right: 5cm;
    border: 3px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px lightcyan;
}
.card-3:hover {
    transition: 1s ease;
    margin-left: 5cm;
    border: 3px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px lightgrey;

}
.card-3::backdrop{
    transition: 5s ease;
    margin-left: 0px;
    /* border: 3px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px lightgrey; */
}